body {
  background-color: #f6c177;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #31748f;
  text-align: center;
}

nav {
  color: #31748f;
  font-family: 'IBM Plex Sans Thai Looped';
}

.textarea {
  justify-content: center;
  display: flex;
 
}

.textarea {
  display: flex;
  justify-content: center;

}
.textflex{
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.indexbuttons {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.note-button {
  display: flex;
  justify-content: left;
  padding-top: 0px;
}

.bar {
  float: right;
  margin-top: 10px;
  display: inline;
  padding-right: 10px;
  color: #31748f;
  font-family: 'PT Serif', sans-serif;
}

.middle-buttons {
  
  display: flex;
  justify-content: center;
  
}
.top-button{
  margin-right: 80%;
  top: 0;
  width: 10%;

}

.menu-side {
  
  border-right:#e0def4
  top: 0;
  left: 0;
  width: 210px;
  height: 100px;
}
.newnote{
  display: flex;
  justify-content: left;
  height: 30%;
}

.slideout{
  display: flex;
  margin-bottom: 100px;
  top: 0;
  position: fixed;
}

/* For mobile phones: */
[class*='col-'] {
  width: 100%;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
