body {
  background-color: #f6c177;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #31748f;
  text-align: center;
}
.header {
  color: #31748f;
  font-family: 'PT Serif', sans-serif;
}

nav {
  color: #31748f;
  font-family: 'IBM Plex Sans Thai Looped';
}
